.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
    text-align: center;
  }

  .mat-grid-list {
    display: block;
    position: inherit;
}

.lang-selector {
    width: 75px;
  }